// resources/scss/pagestyles/forgot-password-page-second.scss
@use '../settings/breakpoints' as *;
@use '../settings/colors' as *;

.forgot-page-second-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--color-primary-200);
}

.forgot-page-second__main {
    flex: 1;
    display: flex;
    align-items: center;          // vertical centering
    padding-block: 60px;
    background: var(--color-primary-200);
    border-bottom: 4px solid #155cc4; // same blue divider as login / first step
}

.forgot-page-second__content {
    width: 100%;
    display: flex;
    justify-content: center;      // horizontal centering
}

@include up($bp-md) {
    .forgot-page-second__main {
        padding-block: 100px;
    }
}
