// resources/scss/pagestyles/forgot-password-page-second.scss
@use '../settings/breakpoints' as *;
@use '../settings/colors' as *;

.forgot-page-second {
    min-height: calc(100vh - 160px); // priestor pre header/footer
    background: var(--color-primary-200);
    padding-block: 40px;

    @include up($bp-md) {
        padding-block: 72px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
