# Ignore everything by default
*

# Keep this file
!.gitignore

# Track the entire public subtree (files and folders)
!public/
!public/**

# Keep "private" ignored (except its own .gitignore)
private/**
!private/.gitignore
